/* ========================================= */
/* ESTRELAS */
/* ========================================= */

body::before{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    background-image:
    radial-gradient(circle,#FFFFFF 1px,transparent 1px),
    radial-gradient(circle,#D8B4FE 1px,transparent 1px),
    radial-gradient(circle,#FFFFFF 1.5px,transparent 1.5px);

    background-size:
    180px 180px,
    250px 250px,
    320px 320px;

    opacity:.18;

    animation:stars 35s linear infinite;

    z-index:-1;

}

@keyframes stars{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-180px);

    }

}

/* ========================================= */
/* AVATAR */
/* ========================================= */

.avatar{

    animation:float 5s ease-in-out infinite;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ========================================= */
/* HERO CARD */
/* ========================================= */

.hero-card{

    animation:fadeUp .8s ease;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ========================================= */
/* BOTÕES */
/* ========================================= */

.buttons a{

    transition:.3s;

}

.buttons a:hover{

    transform:translateY(-4px) scale(1.05);

}

/* ========================================= */
/* MENU */
/* ========================================= */

#menu{

    transition:right .35s ease;

}

/* ========================================= */
/* TÍTULOS */
/* ========================================= */

h1{

    animation:titleGlow 4s ease-in-out infinite;

}

@keyframes titleGlow{

    0%{

        text-shadow:0 0 0px #C4B5FD;

    }

    50%{

        text-shadow:0 0 18px rgba(196,181,253,.45);

    }

    100%{

        text-shadow:0 0 0px #C4B5FD;

    }

}