/* ========================================= */
/* TABLETS */
/* ========================================= */

@media(max-width:900px){

    .hero-card{

        width:95%;

    }

}

/* ========================================= */
/* CELULARES */
/* ========================================= */

@media(max-width:700px){

    .logo{

        font-size:1.5rem;

    }

    .avatar{

        width:140px;

        height:140px;

    }

    h1{

        font-size:2.3rem;

    }

    h2{

        font-size:1.2rem;

    }

    .buttons{

        flex-direction:column;

    }

    .buttons a{

        width:100%;

        text-align:center;

    }

    section{

        width:92%;

    }

}